@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --primary: #e6c744;
  --white: #ffffff;
  --light-gray: #c2c8da;
  --light-white: #f4f6f5;
  --text-black: #242323;
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
  }

  *::after,
  *::before {
    box-sizing: border-box !important;
  }

  html {
    font-size: 16px;
  }

  body {
    width: 100%;
    min-height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;

    background: var(--white);
    color: var(--text-black);
    font-weight: 400;
    font-size: 1rem;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* custom scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    @apply bg-gray-200;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 border-2 border-gray-300;
  }
}

@layer components {
  .my-container {
    @apply px-12;
  }

  .btn {
    @apply px-4 py-2.5 rounded-md;
  }

  .btn.primary {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .invisible-scrollbar {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: auto;
  }

  .invisible-scrollbar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}
